added by me
<ion-header-bar align-title="left" class="bar-positive" has-tabs-top>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
</ion-header-bar>
<div class="tabs-striped tabs-top tabs-background-positive tabs-light">
    <div class="tabs">
        <a class="tab-item active" href="#">
            <i class="icon ion-home"></i>
            Test
        </a>
        <!--<a class="tab-item" href="#">
            <i class="icon ion-star"></i>
            Favorites
        </a>-->
        <h1> Create a Path </h1>
        <a class="tab-item" href="#">
            <i class="icon ion-gear-a"></i>
            Settings
        </a>
    </div>
</div>


<ion-view title="Create a path" class="view">

    <!-- commented by me -->
    <!--
     <ion-nav-buttons side="left">
         <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

     </ion-nav-buttons>
     -->

    <ion-content >

        <div class="about" id="about">
            <div ng-show="user.isConnected" class="card" >
                <div class="item item-text-wrap" style="background-color: bisque">
                    Welcome, {{user.name}}
                </div>
            </div>
        </div>


        <div class="card">
            <div class="list">
                <div class="item item-divider" style="background-color: lightcyan;">Informations about the new path</div>
                <div class="item item-text-wrap">
                    <form name="form" novalidate class="simple-form">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Name:</span>
                            <input type="text" ng-model="path.name" placeholder="Name of your path"required >
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Description :</span>
                            <input type="text" ng-model="path.description" placeholder="Enter a short description">
                        </label>
                    </form>
                </div>
                <div class="item" >
                    <button class="button icon-left ion-plus-round button-light"
                            ng-disabled="form.$invalid"
                            ng-click="addCheckpoint()" style="background-color: greenyellow">Add your first Checkpoint</button>
                </div>
            </div>

        </div>
        <div class="card" ng-repeat="checkpoint in path.checkpoints" on-finish-render>
            <div class="item item-divider" style="background-color: lightcyan;"> Checkpoint {{$index}}</div>
            <div class="item item-text-wrap">
                <form name="form" novalidate class="simple-form">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Name:</span>
                        <input type="text" ng-model="checkpoint.name"  placeholder="Name of this checkpoint" required />
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Description:</span>
                        <input type="text" ng-model="checkpoint.description" placeholder="Description of this checkpoint" required/>
                    </label>
                    <label class="item-stacked-label"><span class="input-label">Position:</span></label>
                    <label class="item item-input ">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" id={{"autocomplete"+$index}}
                               ng-model="checkpoint.position" placeholder="Search for the position" required/>

                    </label>
                </form>
            </div>
            <div class="item">
                <button class="button icon-left ion-paper-airplane button-light"
                        ng-click="publishPath()"
                        ng-disabled="form.$invalid " style="background-color: #1aacc3">Publish your path now</button>
                <button class="button icon-left ion-plus-round button-light"
                        ng-click="addCheckpoint()" style="background-color: greenyellow">Add a New Checkpoint</button>
            </div>
        </div>
        <br/><br/><br/>
    </ion-content>
</ion-view>
