<ion-view title="CheckPoint">


    <div class="item item-text-wrap">
        <h1>The Capitol Place. </h1>
    </div>

    <div class="item item-body">
        <img  class="full-image" src="../img/path3.jpg" width="100%" height="55%">
        <h4>

            La place du Capitole est située en plein centre-ville de Toulouse face au Capitole du même nom.
            Elle mesure 12 000 m² et ne contient aucune construction si ce n'est qu'est présente au sol la croix occitane.
            Seul l'accès du parking souterrain situé en dessous est visible au coin sud-ouest.
            La place est entourée de trois rues donnant l'accès aux voitures.
            Depuis peu, la rue sud est limitée aux riverains et aux taxis par un accès règlementé. Le centre est exclusivement réservé aux piétons, à des manifestations ou aux marchés quotidiens.
            La place est accessible en métro via la station Capitole.
        </h4>

        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
    </div>

    <a class="item item-icon-right assertive" href="#">
       Next Step
    </a>

    </div>
</ion-view>