<ion-view title="FollowPath">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-divider">
                <h1>{{path.title}}</h1>
            </div>
            <!--<div class="item item-divider item-avatar">-->
            <!--<img src="../img/city_tour.jpg">-->
            <!--<h2>{{path.title}}</h2>-->
            <!--<p>{{path.introduction}}</p>-->
            <!--</div>-->

            <div class="item item-avatar">
                <img src="../img/city_tour.jpg">
                <h2>Itinerary to {{nextCheckpoint.name}}</h2>
                <p>{{nextCheckpoint.introduction}}</p>
            </div>

            <div class="item item-body">
                <div id="map" style="height:400px"></div>
            </div>



            <div class="item">
                <button class="button button-light icon-left ion-location" ng-click="goToNextCheckpoint(position, 1)">I'm arrived!</button>
            </div>
        </div>
    </ion-content>


</ion-view>
